<%- include("../includes/header.ejs", {title:"About JBRE"}); %>

<h1>Jim Brown Real Estate</h1>
        <br />

        <br />
        <body>
        Jim Brown Real Estate (JBRE) is a local business dedicated to providing Real Estate services including:
        <br />Buying
        <br />Selling
        <br />Investment
        <br />Loans
        <br />
        <br />
        This site provides information about current loans.

        <br />
        <br />
        <br />
        <br />
        <a href="/images/ERDLoan.png">My ERD</a>

        <br />
        <a href="/images/SchemaLoan.png">My Schema</a>
        <br />
        <br />
        <br />
        <a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>